/* line 2, ../sass/partials/_reset.scss */
*, html {
  box-sizing: border-box;
}

/* line 6, ../sass/partials/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../sass/partials/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../sass/partials/_reset.scss */
body {
  line-height: 1;
}

/* line 34, ../sass/partials/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../sass/partials/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../sass/partials/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../sass/partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 2, ../sass/partials/_base.scss */
body {
  height: 2000px;
  width: 100%;
  margin: auto;
  background-color: white;
}

/* line 9, ../sass/partials/_base.scss */
.theDocument {
  height: 100%;
}

/* line 13, ../sass/partials/_base.scss */
.wrapper {
  height: 1000px;
  background: url(../img/sky.jpg) no-repeat center;
  background-size: cover;
}

/* line 19, ../sass/partials/_base.scss */
a {
  text-decoration: none;
}

@font-face {
  font-family: 'open_sansregular';
  src: url("../fonts/opensans_regular/OpenSans-Regular-webfont.eot");
  src: url("../fonts/opensans_regular/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans_regular/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/opensans_regular/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/opensans_regular/OpenSans-Regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansitalic';
  src: url("../fonts/opensans_italic/OpenSans-Italic-webfont.eot");
  src: url("../fonts/opensans_italic/OpenSans-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans_italic/OpenSans-Italic-webfont.woff") format("woff"), url("../fonts/opensans_italic/OpenSans-Italic-webfont.ttf") format("truetype"), url("../fonts/opensans_italic/OpenSans-Italic-webfont.svg#open_sansitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansbold';
  src: url("../fonts/opensans_bold/OpenSans-Bold-webfont.eot");
  src: url("../fonts/opensans_bold/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans_bold/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/opensans_bold/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/opensans_bold/OpenSans-Bold-webfont.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'black_jackregular';
  src: url("../fonts/blackjack_regular/blackjack-webfont.eot");
  src: url("../fonts/blackjack_regular/blackjack-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/blackjack_regular/blackjack-webfont.woff") format("woff"), url("../fonts/blackjack_regular/blackjack-webfont.ttf") format("truetype"), url("../fonts/blackjack_regular/blackjack-webfont.svg#black_jackregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 49, ../sass/partials/_fonts.scss */
html {
  font-family: open_sansregular;
  font-size: 14px;
}

/*h1 animation*/
@-webkit-keyframes title {
  0% {
    opacity: 0.2;
  }
  15% {
    opacity: 0.4;
  }
  25% {
    opacity: 0.5;
  }
  35% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.7;
  }
  65% {
    opacity: 0.8;
  }
  75% {
    opacity: 0.9;
  }
  87% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes title {
  0% {
    opacity: 0.2;
  }
  15% {
    opacity: 0.4;
  }
  25% {
    opacity: 0.5;
  }
  35% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.7;
  }
  65% {
    opacity: 0.8;
  }
  75% {
    opacity: 0.9;
  }
  87% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}
/*h1 animation ends*/
@-webkit-keyframes menuButtons {
  0% {
    -webkit-transform: rotateX(10deg);
    transform: rotateX(10deg);
  }
  15% {
    -webkit-transform: rotateX(40deg);
    transform: rotateX(40deg);
  }
  30% {
    -webkit-transform: rotateX(70deg);
    transform: rotateX(70deg);
  }
  50% {
    -webkit-transform: rotateX(110deg);
    transform: rotateX(110deg);
  }
  65% {
    -webkit-transform: rotateX(140deg);
    transform: rotateX(140deg);
  }
  70% {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }
  80% {
    -webkit-transform: rotateX(240deg);
    transform: rotateX(240deg);
  }
  90% {
    -webkit-transform: rotateX(270deg);
    transform: rotateX(270deg);
  }
  95% {
    -webkit-transform: rotateX(320deg);
    transform: rotateX(320deg);
  }
  100% {
    -webkit-transform: rotateX(360deg);
    transform: rotateX(360deg);
  }
}
@keyframes menuButtons {
  0% {
    -webkit-transform: rotateX(10deg);
    transform: rotateX(10deg);
  }
  15% {
    -webkit-transform: rotateX(40deg);
    transform: rotateX(40deg);
  }
  30% {
    -webkit-transform: rotateX(70deg);
    transform: rotateX(70deg);
  }
  50% {
    -webkit-transform: rotateX(110deg);
    transform: rotateX(110deg);
  }
  65% {
    -webkit-transform: rotateX(140deg);
    transform: rotateX(140deg);
  }
  70% {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }
  80% {
    -webkit-transform: rotateX(240deg);
    transform: rotateX(240deg);
  }
  90% {
    -webkit-transform: rotateX(270deg);
    transform: rotateX(270deg);
  }
  95% {
    -webkit-transform: rotateX(320deg);
    transform: rotateX(320deg);
  }
  100% {
    -webkit-transform: rotateX(360deg);
    transform: rotateX(360deg);
  }
}
/*HEADER starts*/
/* line 13, ../sass/style.scss */
.header_wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 85px;
  opacity: .75;
}
/* line 20, ../sass/style.scss */
.header_wrapper .quotation {
  width: 31.9%;
  background-color: rgba(215, 215, 215, 0.25);
}

/*header navigation*/
/* line 30, ../sass/style.scss */
.topMenu {
  position: relative;
  width: 70%;
  margin-right: 5em;
  margin-top: 2em;
}
/* line 35, ../sass/style.scss */
.topMenu .firstMenu {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
/* line 45, ../sass/style.scss */
.topMenu .firstMenu li {
  position: relative;
}

/* line 50, ../sass/style.scss */
li a {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.7);
  display: block;
  padding: 1.2em 1.2em 1.2em 1.6em;
  font-size: 1.2em;
  font-family: open_sansregular;
  transition: all .4s ease-in-out;
}
/* line 60, ../sass/style.scss */
li a:hover {
  opacity: 1;
  color: white;
  -webkit-animation: menuButtons 1s linear;
  animation: menuButtons 1s linear;
}

/*navigation end*/
/*contentTop start*/
/* line 74, ../sass/style.scss */
.aside {
  width: 30%;
  height: 1000px;
  background-color: rgba(215, 215, 215, 0.15);
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}

/* line 81, ../sass/style.scss */
.whatSpan {
  display: none;
}

/* line 84, ../sass/style.scss */
.what {
  background-color: rgba(250, 250, 250, 0.15);
  border-bottom-right-radius: 20%;
  border-top-left-radius: 20%;
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.6);
  color: black;
  cursor: pointer;
  display: block;
  font-family: Open Sans, Arial, sans-serif;
  font-size: .9em;
  font-weight: 400;
  height: 10%;
  left: -200%;
  line-height: 1.5em;
  margin-left: 50px;
  margin-top: 10%;
  padding: 5%;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: all .5s ease-in-out;
  width: 60%;
}
/* line 106, ../sass/style.scss */
.what:hover {
  color: white;
  box-shadow: 0px 27px 20px -16px rgba(0, 0, 0, 0.3);
  -webkit-transform: translate(0px, -4px);
  -ms-transform: translate(0px, -4px);
  transform: translate(0px, -4px);
  border-top-right-radius: 20%;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 0%;
  border-top-left-radius: 0%;
}
/* line 117, ../sass/style.scss */
.what:hover .whatSpan {
  color: black;
}
/* line 120, ../sass/style.scss */
.what .whatSpan {
  color: black;
  text-transform: lowercase;
  font-weight: 100;
  line-height: 2em;
}

/* line 127, ../sass/style.scss */
.what1 {
  margin-top: 150px;
}
/* line 129, ../sass/style.scss */
.what1:hover {
  background: url(../img/csshtml.svg) no-repeat center;
  background-size: cover;
  color: black;
}

/* line 135, ../sass/style.scss */
.what2:hover {
  background: url(../img/toolsforweb.jpg) no-repeat center;
  background-size: cover;
  color: white;
}

/* line 140, ../sass/style.scss */
.what3:hover {
  background: url(../img/programming.jpg) no-repeat center;
  background-size: cover;
  color: white;
}

/* line 146, ../sass/style.scss */
.what4:hover {
  background: url(../img/responsive.jpg) no-repeat center;
  background-size: cover;
  color: white;
}

/*adding class for aside menu*/
/* line 154, ../sass/style.scss */
.is-showing {
  left: 5%;
}

/*end of class addition*/
/* line 159, ../sass/style.scss */
.contentTop {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 164, ../sass/style.scss */
.middleContent {
  width: 33%;
  margin: 180px auto 0 auto;
}

/* line 169, ../sass/style.scss */
.button_title_text {
  position: relative;
  display: none;
  color: grey;
  padding: .5em;
  margin: auto;
  width: 270px;
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
}

/* line 180, ../sass/style.scss */
.textSmall {
  display: block;
  color: grey;
  padding: 1em;
  margin: auto;
  width: 270px;
  text-align: center;
  font-size: 1.1em;
  font-family: black_jackreguler;
  margin-top: 10px;
  position: relative;
  left: 250px;
  opacity: 0;
  border-top: 1px solid grey;
}

/* line 195, ../sass/style.scss */
.mainButton {
  background-color: transparent;
  border: 1px solid #b5b5b5;
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  font-family: black_jackreguler;
  font-size: 2em;
  margin: auto;
  margin-top: 20px;
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
  transition: all .5s ease-in-out;
  width: 270px;
  position: relative;
  bottom: -100px;
  opacity: 0;
}
/* line 212, ../sass/style.scss */
.mainButton:hover {
  box-shadow: 0px 27px 20px -16px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(0px, -6px);
  -ms-transform: translate(0px, -6px);
  transform: translate(0px, -6px);
  border-radius: 2em;
}
/* line 219, ../sass/style.scss */
.mainButton a {
  color: black;
}

/*contentTop ends*/
/*content starts*/
/* line 229, ../sass/style.scss */
.content {
  margin-top: 50px;
}

/* line 233, ../sass/style.scss */
.contentWrap {
  background: url(../img/underwater2.jpg) no-repeat fixed;
  background-size: cover;
  height: 900px;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  transition: all .6s ease-in-out;
}

/*class adding for content*/
/* line 246, ../sass/style.scss */
.showContent {
  opacity: 1;
}

/*end of addition*/
/* line 251, ../sass/style.scss */
.left_side_part {
  width: 33.33%;
}

/* line 255, ../sass/style.scss */
h1 {
  position: relative;
  font-family: black_jackregular;
  font-weight: 700;
  font-size: 5em;
  display: block;
  width: 33.33%;
  height: 85px;
  text-align: center;
  opacity: 0.07;
  letter-spacing: .1em;
}

/* line 271, ../sass/style.scss */
.right_side_part {
  width: 33.33%;
}

/* line 275, ../sass/style.scss */
.contentBottom {
  background: url(../img/stars.jpg) no-repeat center fixed;
  background-size: cover;
  height: 600px;
  width: 100%;
  margin-top: 50px;
  opacity: .6;
}

/* line 284, ../sass/style.scss */
.footer {
  margin-top: 50px;
  height: 500px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
/* line 293, ../sass/style.scss */
.footer .veryBottom {
  height: 500px;
  width: 100%;
}

/*logo to footer*/
/*		.myLogo {
		background: url(../img/Sites-can-Fly.png) no-repeat center;
		background-size: cover;
		width: 170px;
		height: 154px;
		opacity: 1;
		margin-right: 80px;
	}*/
